streamlit
pandas
pyotp
pytz
supabase
smartapi-python
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
bcrypt
streamlit-autorefresh
logzero
websocket-client
streamlit-cookies-controller
yfinance
